<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>NHA TRANG UNIVERSITY</h1>
	<h1 style="width:195px;rotate:-90deg;margin-top: 70px;border-bottom:solid;margin-left:-30px;">About Me</h1>
	<h3 style="margin-top:-100px;margin-left:110px;">Nguyen Ngoc Hoai Sang</h3>
	<p style="margin-left:110px;">62_CNTT_CLC</p>
	<p style="margin-left:235px;margin-top:-40px;">62133231</p>
	<p style="margin-left:110px;">sang.nnh.62cntt@ntu.edu.vn</p>
	<p style="margin-left:110px;">0376354610</p>
	<p style="margin-left:86px;border-bottom:solid;padding-left:25px;margin-top:-3px;border-right:solid;width:330px;">https://www.facebook.com/callmesangorcharone/</p>
</body>
</html>